<p>atrribute-binding works!</p>
<table>
    <tr>
        <td>
            hi
        </td>
        <td>
            heloo
        </td>
    </tr>
    <tr>
        
        <td colspan="2">
            heloo
        </td>
    </tr>
    <tr>
        
        <td [attr.colspan]="clsvar">
            heloo
        </td>
    </tr>
</table>
 <h2 > atrribute-binding is used in table as in that we cant use string interpolation  in value
     and we cant use property binding as well so attribute binding is used in table the froms which are 
     valid <h1 style="color: blueviolet;">colspan="2" </h1>and <h1 style="color: blueviolet;"> [attr.colspan]="clsvar"</h1>
 </h2>
